
    .chart {
        margin-top: 40px;
        position: relative;
        
    }
    .nameX {
        position: absolute;
        bottom: 7px;
    right: -1% !important;
    font-weight: 600;
    font-size: 20px;
    color: #1f2f98;
    }
    .nameY{
        font-weight: 600;
        font-size: 20px;
        color: #1f2f98;
    }
    @media (max-width: 670px) {
        .nameX{
            font-size: 15px;
            bottom: -15px;
        }
        .nameY{
            font-size: 15px;
        }
        .chart{
            margin-top: 15px;
        }
       
    }